table {
  margin-left: auto;
  margin-right: auto;
}

td {
  height: 57px;
  width: 57px;
  background-color: black;
  border: 1px gray;
}

.empty {
  background-color: gray;
}

.blackPiece {
  margin-left: auto;
  margin-right: auto;
  background: black;
  border: 1px solid white;
  border-radius: 50px;
  height: 5px;
  width: 5px;
  padding: 9px;
}

.redPiece {
  margin-left: auto;
  margin-right: auto;
  background: red;
  border: 1px solid white;
  border-radius: 50px;
  height: 5px;
  width: 5px;
  padding: 9px;
}

header {
  text-align: center;
}

.header {
  display: inline;
}

#blacksTurn {
  font-weight: bold;
}
#redsTurn {
  font-weight: bold;
}

.socre {
  display: inline;
}
