* {
  margin: auto;
}

td {
  height: 60px;
  width: 60px;
  background-color: black;
  border: 1px gray;
}

.empty {
  background-color: gray;
}

.blackPiece {
  background: black;
  border: 1px solid white;
  border-radius: 50px;
  height: 12px;
  width: 12px;
  padding: 10px;
}

.king.blackPiece {
  background: repeating-linear-gradient(
    45deg,
    black,
    black 10px,
    goldenRod 10px,
    black 20px
  );
  height: 17px;
  width: 17px;
}

span {
  display: flex;
}

.redPiece {
  background: red;
  border: 1px solid white;
  border-radius: 50px;
  height: 12px;
  width: 12px;
  padding: 10px;
}

.king.redPiece {
  background: repeating-linear-gradient(
    45deg,
    crimson,
    crimson 10px,
    darkOliveGreen 10px,
    darkOliveGreen 20px
  );
  height: 17px;
  width: 17px;
}

header {
  text-align: center;
}

.header {
  display: inline;
}

#blacksTurn {
  color: black;
  font-weight: bold;
}
#redsTurn {
  color: white;
  font-weight: bold;
}

.socre {
  display: inline;
}
